.canvas {
    width: 400px;
    height: 400px;
}

.square {
    float: left;
    width: 120px;
    height: 120px;
    cursor: pointer;
    border: 1px solid white;
    color: transparent;
}

#box1 {
    background: url('/images/castaway-cay.png') 0 0;
}

#box2 {
    background: url('/images/castaway-cay.png') -120px 0px;
}

#box3 {
    background: url('/images/castaway-cay.png') -240px 0px;
}

#box4 {
    background: url('/images/castaway-cay.png') 0px 240px;
}

#box5 {
    background: url('/images/castaway-cay.png') -120px 240px;
}

#box6 {
    background: url('/images/castaway-cay.png') -240px 240px;
}

#box7 {
    background: url('/images/castaway-cay.png') 0px 120px;
}

#box8 {
    background: url('/images/castaway-cay.png') -120px 120px;
}

/*#box9 {
    background: url('/images/2018/2018-01.JPG') -240px 120px;
}*/ 