<html>
    <head>
      <title>Vacation Photos</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
      <!--<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">-->
      <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <link href="/css/puzzle.css" rel="stylesheet">
    </head>
    <body>
      <div class="container-fluid">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/"><%=title%></a>
            </div>
            <ul class="nav navbar-nav" role="navigation">
              <%for(let i=0; i < nav.length; i++){%>
                <li><a href='<%= nav[i].link %>'><%= nav[i].title;%></a></li>
              <%}%>
            </ul>
          </div>
        </nav>
      </div>

      <div class="container">
        <h3>Castaway Cay Puzzle</h3>
        
        <div class="canvas">
          <div class="board">
              <div id="box1" class="square" draggable="false">1</div>
              <div id="box2" class="square" draggable="false">2</div>
              <div id="box3" class="square" draggable="false">3</div>
              <div id="box4" class="square" draggable="false">4</div>
              <div id="box5" class="square" draggable="false">5</div>
              <div id="box6" class="square" draggable="false">6</div>
              <div id="box7" class="square" draggable="false">7</div>
              <div id="box8" class="square" draggable="false">8</div>
              <div id="box9" class="square" draggable="false">9</div>
          </div>
          
          <input id="newGameButton" type="button" class="btn btn-primary" value="New Game">
          
          <h4><span id="messages" class="label label-success"></span></h4>
        </div>
      </div>
      
      <!-- script references -->
      <script src="/js/puzzle.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		  <!--<script src="js/jquery.slim.min.js"></script>-->
		  <!--<script src="js/bootstrap.min.js"></script>-->
    </body>
</html>