<html>
    <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <title>Vacation Photos</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
      <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <!--<link href="css/styles.css" rel="stylesheet">-->
    </head>
    <body>
      <nav class="" role="navigation">
        <ul class="nav navbar-nav">
          <%for(let i=0; i<nav.length; i++){%>
          <li><a href='<%= nav[i].link %>'><%= nav[i].title;%></a></li>
          <%}%>
        </ul>
      </nav>
      
      <h1><%=title%></h1>
      
      <!-- script references -->
		  <script src="js/jquery.slim.min.js"></script>
		  <script src="js/bootstrap.min.js"></script>
    </body>
</html>